@font-face {
    font-family: Muli;
    src: url("fonts/Muli-VariableFont_wght.ttf");
}

body {
    background-color: #333;
}

.content > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    padding-top: 1em;
    text-align: center;
}

#huhn {
    transition: filter 0.2s, width 0.5s;
    width: 160px;
    filter: brightness(0.75);
}

#huhn:hover {
    filter: none;
    width: 170px;
}

#output {
    font-family: Muli;
    color: #ddd;
    float: center;
}